.x_btn{
  border-radius: 50%;
  padding: 0;
  min-width: 1.5rem;
  min-height: 1.5rem;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .05rem solid cornflowerblue;
}

.x_btn:hover{
  background-color: cornflowerblue;
  color: aliceblue;
  border: none;
}

.s_fr_input button {
  border-radius: 0 1em 1em 0;
  padding: .5em;
  cursor: pointer;
}