:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 1rem;
  border: none;
  margin: 0 !important;
  background-color: dimgray;

  button {
    border-radius: .5rem;
    border: none;
    padding: .5rem;
    text-transform: capitalize;
    box-shadow: 1px 2px 5px rgba(105, 105, 105, 0.401);
    max-width: max-content;
  }

  h1,h2,h3,h4,h5,h6,p,span,small,strong,link{
    margin: 0;
   }
}

